# Terraform state
*.tfstate
*.tfstate.*

# Terraform modules config
.terraform/

# Variables
*.tfvars
*.tfvars.json

# SSH keys & Logs
*.pem
*.log

# System files
.DS_Store

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

